* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
}

.imgs {
  width: 100%;
  height: 400px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.h-screen {
  height: 100vh;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.left {
  background-color: green;
  width: 50%;
  color: white;
}
.right {
  background-color: gray;
  width: 50%;
}

.py-1 {
  padding: 50px 0px;
}

.px-1 {
  padding: 0 10px;
}

.lh {
  line-height: 50px;
}

.l {
  background-color: aqua;
}

@media only screen and (min-width: 600px) {
  .footer-p {
    display: flex;
    flex-direction: column;
  }
}