.bg-green{
    background-color: #09ab74;
}

.bg-yellow{
    background-color: #e9bc03;
}

.bg-white{
    background-color: #fff;
}

.bg-red{
    background-color: #dc5e48;
}

.bg-violet{
    background-color: #846ab4;
}




